body {
  margin: 0;
}

.text {
  animation: transitionIn 3s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}