body {
  margin: 0;
}

.text {
  animation: transitionIn 3s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.crypto-data-row:hover {
  background-color: #f2f2f2;
}

.crypto-table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-selec: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}